/* General Styles */
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: #69b3a2;
}

a:hover {
  color: #251667;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Button Styles */
.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  margin: 5px;
}

.btn-primary {
  background-color: transparent;
  border-color: #69b3a2;
  color: #69b3a2;
  border-width: medium;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #69b3a2 !important;
  color: white;
}

.btn-secondary {
  background-color: transparent;
  border-color: #69b3a2;
  color: #69b3a2;
  border-width: small;
}

.btn-secondary:hover {
  background-color: #69b3a2 !important;
  color: white;
}

/* Experience Section */
.experience-logo {
  margin: 15px;
  color: #69b3a2;
  font-size: 45px;
  padding: 30px;
  border-radius: 50%;
  border: 5px solid black;
}

.experience-logo:hover {
  color: white;
  background-color: #69b3a2;
}

/* Project Section */
.explanation_project {
  font-size: 14px;
  margin: 20px;
}

.project-item .project-link {
  color: #69b3a2;
  text-decoration: none;
}

.project-item .project-link:hover {
  color: #251667;
}

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-item:hover .project-hover {
  opacity: 1;
}

.project-hover-content {
  text-align: center;
}

/* Footer */
footer {
  background-color: white;
  padding: 50px 0;
  color: #6c757d;
}
